{% extends 'base.html' %}

{% block body %}
    
    <!-- Jinja 2 templating -->
    <!-- all python backend uses templating engin, where Jinja2 is one of them  -->

    {% for blog in blogs %}
        <div class="blog-box" id="blog_{{blog['id']}}">
            <div class="row">
                <div class="img-blog-body">
                    <img src="{{blog['image']}}" style="max-height: 100px; max-width: 100%;">
                </div>
                <div class="blog-ref">
                    <h4>{{blog['title']}}</h4>
                    <em>{{blog["content"]}}</em>

                </div>
            <a href="http://www.google.com" class="btn btn-primary corner-right-bottom">Read blog</a>
            </div>
        </div>
    {% endfor %}


{% endblock %}