{% extends 'base.html' %}

{% block body %}

    <div class="blog-box">
        <div class="row">
            <div class="img-blog-body">
                <img src="https://thumbs.dreamstime.com/b/blog-information-website-concept-workplace-background-text-view-above-127465079.jpg" style="max-height: 100%; max-width: 100%;">
            </div>
            <div class="blog-ref">
                <h4>Ttile of the blog</h4>
                <em>Some blog content</em>

                <button class="btn btn-primary" onclick="alert(12)" type="button" role="read">Read blog</button>
            </div>
        </div>
    </div>

{% endblock %}